 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }

 * {
     margin: 0;
     padding: 0;
 }

 html {
     font-size: 62.5%;
 }

 .container {
     background-color: #8ecae6;
     width: 100vw;
     height: 100vh;
 }

 /* Dialogue */
 .dialog-container {
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
 }


 .form-container {
     position: sticky;
     background-color: #023047;
     border-radius: 0.8rem;
     color: #fefefe;
     display: grid;
     grid-template-rows: auto;
     gap: 0.8rem;
     font-size: 1.6rem;
     padding: 1.6rem;
 }

 input {
     padding: 0.1rem;
 }

 .input {
     display: flex;
     flex-direction: column;
     gap: 0.8rem;
 }

 .input-checkbox {
     display: flex;
     align-items: center;
     gap: 0.8rem;
 }

 /*  */

 .bar {
     background-color: #023047;
     color: #fefefe;
     height: 10vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 4rem;
     font-weight: bold;
     padding: 0 2rem 0 2rem;
 }

 .books-container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     padding: 4.8rem;
     gap: 1.6rem;
 }

 .book {
     background-color: #023047;
     color: #fefefe;
     font-size: 2.4rem;
     border-radius: 0.8rem;
     padding: 0.8rem;
     display: grid;
     grid-template-rows: auto;
     gap: 0.8rem;
 }

 .delete {
     display: flex;
     justify-content: space-between;
 }